.Weather li {
  display: inline-block;
  list-style: none;
}

.main-info {
  padding: 40px 20px 0px;
  max-width: 100%;
  margin: 0 auto;
}

#city {
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  padding: 5px;
}
#temperature {
  font-size: 30px;
  display: inline;
}

.units {
  position: relative;
  bottom: 12px;
  text-decoration: none;
  color: #6b2e9f;
  cursor: default;
}

.units .active {
  color: white;
  text-decoration: none;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid white;
  height: 80px;
  margin-left: 35px;
  margin-right: 35px;
}

#condition {
  font-size: 16px;
  font-weight: 500;
}

#icon-primary {
  width: 60px;
  line-height: 40px;
}

.conditions {
  padding: 30px 30px 10px;
  font-weight: 500;
}

.info-link {
  font-size: 14px;
  display: block;
  margin: auto;
  text-align: right;
  color: white;
  padding-right: 40px;
  text-decoration: none;
}

#date {
  line-height: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.updated {
  font-size: 14px;
}
